.list {
  display: grid;
  grid-template-columns: 1fr 50px 50px;

  padding-right: 5px;

  background: #dbe2ef;
  border-radius: 5px;

  margin-bottom: 15px;

  &__label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    cursor: pointer;

    padding: 12px 15px;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__input {
    font: 1rem/1em 'Roboto', sans-serif;
    border: none;
    background: none;
    padding: 5px;
    box-shadow: 0 4px 0 -3px #3f72af;
  }

  &__title {
    padding: 5px;
    line-height: 1.2;
  }

  &__edit,
  &__delete,
  &__save {
    display: block;
    border: none;
    background: none no-repeat center center;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__edit {
    background-image: url('./img/edit.svg');
  }

  &__delete {
    background-image: url('./img/trash.svg');
  }

  &__save {
    background-image: url('./img/check.svg');
  }
}
