.create {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 60px;

  margin-bottom: 15px;

  &__input {
    padding: 9px 10px;

    background: #dbe2ef;
    border: 1px solid rgba(177, 177, 177, 0.4);
    border-radius: 5px 0 0 5px;

    font: 1rem/1.4 'Roboto', sans-serif;

    &::placeholder {
      color: #7b7b7b;
    }
  }

  &__btn {
    border-radius: none;
    border: none;
    border-radius: 0 5px 5px 0;

    background: #3f72af url('./img/plus.svg') no-repeat center center;

    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}
