.article {
  min-width: 600px;
  background: #f9f7f7;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px 55px 30px;

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;

    color: #112d4e;
    text-align: center;

    margin-bottom: 0.3em;
  }

  &__section {
  }

  &__hr {
    margin: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }

  &__text {
    text-align: center;
  }
}
